#contact-form .container {
    padding-top: 30px;
}
#contact-form .form-group {
    margin-bottom: 20px;
}
#contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
}
#contact-form .form-group input,
#contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}
#contact-form .form-group textarea {
    height: 200px;
}
#contact-form .form-group input:focus,
#contact-form .form-group textarea:focus {
    outline: none;
    border-color: #f7c08a;
}
#contact-info .box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}
#contact-info .box i{
    margin-bottom: 10px;
}
